.page {
  height: 100vh;
  width: 100%;
  background-color: #f8feff;
  /* background-color: #f8fff8; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.page .btn {
  background: linear-gradient(270deg, #5de0e6 0%, #004aad 100%);
  width: 100%;
  border-radius: 50px;
  padding: 1rem;
  border: none;
  font-weight: bold;
  color: white;
}

.page-image{
  width: 35%;
  object-fit: cover;
  /* border-radius: 40px 40px 0 0 ; */
}
.page-box .form{
  background-color: white;
  border-radius: 40px;
  padding: 1.5rem 1rem;
  box-shadow: #004aad 0px 15px 30px 0px;
}
.form-input{
  padding: .8rem;
  border-radius: 50px;
  border: 1px solid rgb(187, 187, 187);
  width: 100%;
  margin-bottom: 1rem;
}
.page-box .form span {
  color: #004aad;
  /* color: #abbaab; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;
  font-size: 12px;
}

.login-register{
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  font-size: 12px;
    color: gray;
}
.login-register span{
  padding-left: 5px;
}

.or{
display: flex;
align-items: center;
justify-content: space-between;
gap: 1rem;
margin-top: 2rem;
color: gray;
font-size: 12px;
}
.or::before{
content: '';
display: flex;
align-items: center;
justify-content: space-between;
width: 50%;
height: 1px;
background-color: gray;
}
.or::after{
content: '';
display: flex;
align-items: center;
justify-content: space-between;
width: 50%;
height: 1px;
background-color: gray;
}