.page {
  height: 100vh;
  width: 100%;
  /* background-color: #f8feff; */
  /* background-color: #f8fff8; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.page-box.login {
  margin-top: auto;
  height: 60vh;
}
.page-box.login h2{
  color: white;
}

.page .btn {
  background: linear-gradient(270deg, #5de0e6 0%, #004aad 100%);
  width: 100%;
  border-radius: 50px;
  padding: 1rem;
  border: none;
  font-weight: bold;
  color: white;
}
.login .btn {
  background: white;
  width: 100%;
  border-radius: 50px;
  padding: 1rem;
  border: none;
  font-weight: bold;
  color: #666;
}

.page-image {
  width: 35%;
  object-fit: cover;
  /* border-radius: 40px 40px 0 0 ; */
}
.page-box .form {
  background-color: white;
  border-radius: 40px;
  padding: 1.5rem 1rem;
  box-shadow: #004aad 0px 15px 30px 0px;
}
.form-input {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 12px;
}

.password-field span {
  width: auto !important;
}
.page-box .forgot-password {
  color: white;
  /* color: #abbaab; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;
  font-size: 12px;
}
/* .page-box span {
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;
  font-size: 12px;
} */

.login-register {
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  font-size: 12px;
  color: white !important;
}
.login-register span {
  padding-left: 5px;
}

.or {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
  color: white;
  font-size: 12px;
}
.or::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 1px;
}
.or::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 1px;
}

.login .or::after,
.login .or::before {
  background-color: white;
}
.login .google-signup {
  color: white;
}
