.StatusBar {
  display: flex;
  overflow-y: auto;
  gap: 10px;
  margin-top: .6rem;
}

.statusbar-box {
  border: 2px solid white;
  /* border: 2px solid #928dab; */
  border-radius: 50px;
  padding: 2px;
  position: relative;
}
.statusbar-box:first-child {
  margin-left: 10px;
}
.statusbar-box img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  object-fit: cover;
}

.statusbar-box .status.active {
      position: absolute;
    bottom: 5%;
    left: 0%;
    background-color: #00bb00;
    height: 17px;
    width: 17px;
    border-radius: 50px;
    border: 3px solid #1064b2;
}
