.Profile-detail {
  height: 100vh;
  position: relative;
}

.Profile-detail .profile-title h2,
.Profile-detail .profile-title svg {
  color: white;
  /* margin: 1rem 0; */
}
.profile-detail-top {
  text-align: center;
  padding: 1rem;
}

.profile-detail-top-image {
  position: relative;
}
.profile-detail-top-image .blurred-image{
 filter: blur(8px);
}
.profile-detail-top-image svg {
  position: absolute;
  bottom: 0;
  right: 30%;
  background: white;
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  height: 40px;
  color: #004aad;
}

.profile-detail-top img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  padding: 5px;
}
.profile-detail-top h2 {
  color: white;
  margin: 0.5rem;
}

.profile-detail-tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  overflow-x: auto;
  margin-bottom: 1rem;
}

.profile-detail-tabs button {
  border: 1px solid #dcdcdc;
  background-color: transparent;
  border-radius: 25px;
  /* box-shadow: 0 2px 6px #0000001a; */
  color: white;
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  white-space: nowrap;
}
.profile-detail-tabs button:first-child {
  margin-left: 1rem;
}
.profile-detail-tabs button:last-child {
  margin-right: 1rem;
}

.tab-btn.active {
  background: linear-gradient(270deg, #5de0e6 0%, #004aad 100%);
  color: white;
  border: none;
}

.profile-detail-top p {
  color: #dcdcdc;
  margin: 0;
}
.profile-detail-bottom-box {
  border: 1px solid #dcdcdc;
  border-radius: 40px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.profile-detail-bottom {
  border-radius: 40px 40px 0 0;
  background-color: #f8feff;
  /* background-color: #f8fff8; */
  padding: 2rem 1.5rem;
  height: 56vh;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 5rem;
}

.profile-detail-bottom h2 {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 5px;
}
.profile-detail-bottom h2 svg {
  width: 16px;
  height: 16px;
  color: #004aad;
}
.profile-detail-bottom p {
  margin: 0;
}

.profiledetail-chat {
  margin: 0;
  padding: 0 1.5rem;
  width: 100%;
  position: absolute;
  bottom: 2%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.profiledetail-chat p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1rem 2rem;
  z-index: 2;
  margin: 0;
  cursor: pointer;
  border-radius: 50px;
  color: white;
  background: linear-gradient(270deg, #ffa3a3 0%, #ff6363 100%);
  font-size: 14px;
  font-weight: bold;
}
.profiledetail-chat p:first-child {
  background: linear-gradient(270deg, #b3b3b3 0%, #616161 100%);
}
.profiledetail-chat .interested {
  background: linear-gradient(270deg, #5de0e6 0%, #004aad 100%);
}

.profile-detail-bottom-box ul {
  padding-left: 0;
  margin: 0;
}
.profile-detail-bottom-box ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.profile-detail-bottom-box ul li svg {
  width: 14px;
  height: 14px;
  color: #004aad;
}
.profile-detail-bottom-box p svg {
  width: 18px;
  height: 18px;
  color: #004aad;
  margin: 10px 10px 10px 0;
}

.profile-detail-modal-box input,
.profile-detail-modal-box select {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.profile-detail-modal-box textarea {
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.profile-detail-modal-box h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.profile-detail-modal-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  z-index: 2;
  cursor: pointer;
  border-radius: 50px;
  color: white;
  background: linear-gradient(270deg, #5de0e6 0%, #004aad 100%);
  border: none;
  width: 100%;
  margin-top: 1rem;
}

.view-more-btn {
  font-weight: 700;
  margin-left: 10px;
}

.profile-detail-bottom-card {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  /* margin-bottom: 10px; */
}
.profile-detail-bottom-card svg {
  width: 18px;
  height: 18px;
  color: #004aad;
}
.profile-detail-bottom-card h6 {
  margin: 0;
}
.profile-detail-bottom-card p {
  color: #6c6c6c;
  margin-bottom: 8px;
}

.lifestyle-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.lifestyle-card p {
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  padding: 5px 15px;
  display: inline-block;
  margin: 0;
}

.profile-detail-modal-box {
  padding-bottom: 1rem;
  overflow: auto;
}

.profile-modal.profiledetail {
  height: auto;
  bottom: -100%;
}
.profile-modal.profiledetail.active {
  bottom: 0%;
}

.profile-page .dob-picker {
  color: black;
}

.profile-edit-page p {
  border: 0.1px solid gray;
  padding: 10px 15px;
  border-radius: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-edit-page p svg {
  width: 14px;
  height: 14px;
}

.profile-edit-page .radio-option span {
  color: black;
}
.profile-edit-page .dob-picker {
  color: black;
}
.profile-edit-page .age-display {
  color: black;
}

.radio-option {
  border-bottom: 1px solid #dcdcdc;
}

.profile-edit-page input {
  padding: 10px 15px;
  border-radius: 40px;
  border: 1px solid #ccc;
}
.profile-edit-page .radio-group,
.profile-edit-page .radio-group.qualifucation-group {
  height: 57vh;
}

/*  */
.available-items {
  margin-top: 1rem;
}

.chip-container p {
  background-color: #00800024;
  padding: 5px 10px;
  font-size: 14px;
}

.profile-detail-bottom-box .matched {
  color: green;
}

.contact-overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding: 1rem;
}
.contact-overlay button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1rem 2rem;
  z-index: 2;
  margin: 0;
  cursor: pointer;
  border-radius: 50px;
  color: white;
  background: linear-gradient(270deg, #5de0e6 0%, #004aad 100%);
  font-size: 14px;
  font-weight: bold;
  border: none;
}


.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.image-modal-content {
  position: relative;
  width: 95%;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.full-image img {
  width: 100%;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 40px;
}

.image-tabs {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  overflow-x: auto;
}

.thumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 15px;
}

.thumbnail.active {
  border: 2px solid #4f46e5; /* highlight active image */
}

.image-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin-top: 1rem;
}

.image-item img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 25px;
}

.image-item{
  position: relative;
}

.image-item svg{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: red;
  border-radius: 25px;
  padding: 5px;
}
.image-item.add-image{
border: .1px solid gray;
border-radius: 25px;
display: flex;
align-items: center;
justify-content: center;
font-size: 25px;
}

.profile-edit-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.profile-edit-image img{
  width: 70%;
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 2/2;
}
.profile-edit-image span{
  position: absolute;
  bottom: 10%;
  right: 18%;
  border-radius: 50%;
  background-color: #f8feff;
  padding: 10px;
}

.options-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.options-content {
  width: 85%;
  max-width: 340px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.options-content h3 {
  margin-bottom: 10px;
}

.block-btn, .unblock-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  margin-top: 15px;
  font-weight: bold;
  border: none;
  color: white;
  background: red;
}

.unblock-btn {
  background: green;
}

.close-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  background: none;
  border: none;
  color: black;
}

.options-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 15px;
  z-index: 3000;
}

.options-box {
  background: white;
  border-radius: 10px;
  padding: 10px 0;
  width: 180px;
}

.options-box p {
  margin: 0;
  padding: 12px;
  font-size: 15px;
  cursor: pointer;
}

.options-box p:hover {
  background: #f5f5f5;
}

.cancel-btn {
  color: red;
}

.profiledetail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4000;
}

.modal-box {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 85%;
  max-width: 330px;
  text-align: center;
  position: relative;
}

.modal-button-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.yes-btn, .no-btn {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.yes-btn {
  background: red;
  color: white;
  width: 100%;
}

.no-btn {
  background: #ddd;
  width: 100%;
}