.Profile {
  width: 100%;
  height: 100%;
  background-color: #f8feff;
  position: relative;
}
.Profile-main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
}

.profile-title h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 1rem 0;
  color: #004aad;
  /* color: #abbaab; */
}
.profile-title svg {
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  color: #004aad;
  /* color: #abbaab; */
  /* border: 1px solid #928dab; */
  border-radius: 50px;
  width: 40px;
  height: 40px;
  /* margin-right: 15px; */
}

.profile-page {
  padding: 0 15px;
}

.profile-header {
  background: linear-gradient(0deg, #5de0e6 0%, #004aad 100%);
  color: white;
  padding: 20px;
  border-radius: 40px;
  position: relative;
}

.profile-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile-img {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  /* border: 2px solid #928dab; */
  border-radius: 50px;
  padding: 2px;
  margin-bottom: 10px;
  object-fit: cover;
}

.profile-info h3 {
  margin: 0;
  /* font-size: 18px; */
}

.profile-edit {
  width: 18px;
  height: 18px;
  margin-left: 0.5rem;
}

.profile-info p {
  font-size: 14px;
  margin: 0;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  border-radius: 40px;
  padding: 1rem;
}

.profile-stats span {
  width: 0.5px;
  background: #abbaab;
}

.profile-stats div {
  text-align: center;
}

.profile-stats h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.profile-stats p {
  margin: 0;
}

.profile-tabs {
  margin-top: 2rem;
}
.profile-tabs p {
  width: 100%;
}

.menu-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  /* border-bottom: 1px solid #abbaab; */
  cursor: pointer;
}
.plan-detail,
.menu-item span {
  flex: 1 1;
}

.plans-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  /* border-bottom: 1px solid #abbaab; */
}

.plan img {
  width: 12%;
  /* background-color: #51496a; */
  background-color: #004aad;
  border-radius: 40px;
  padding: 10px;
  aspect-ratio: 2/2;
}

.plan h4 {
  margin: 0;
  font-size: 18px;
}

.plan-detail p {
  margin: 0;
  font-size: 14px;
}

.subscribe-btn {
  margin-top: 15px;
  padding: 12px;
  border: none;
  background: linear-gradient(270deg, #5de0e6 0%, #004aad 100%);
  color: white;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.subscribe-btn.logout{
  background: transparent;
  color: gray;
  border: .1px solid gray;
}

.profile-modal {
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  /* background-color: #f8fff8; */
  background-color: #f8feff;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  border-radius: 50px 50px 0 0;
  box-shadow: #51496a 0px 15px 30px 0px;
  z-index: 999999;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  height: 50%;
}
.profile-modal.active {
  bottom: 0%;
  transition: all 0.5s ease-in-out;
}

.profile-modal:after {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  background: linear-gradient(270deg, #5de0e6 0%, #004aad 100%);
  width: 20%;
  height: 5px;
  border-radius: 20px;
}

.close-profile-modal {
  position: absolute;
  top: 5%;
  right: 5%;
}
.profile-modal-box ul {
  padding: 0;
}

.close-profile-modal {
  border-radius: 50px;
  padding: 5px;
}
.profile-modal-box ul li {
  padding: 1rem 0;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .Profile-main {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 680px) {
  .Profile {
    width: 100%;
    height: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .Profile-main {
    width: 100%;
  }
}
