.Profile {
  width: 100%;
  height: 100%;
  background-color: #f8fbff;
  /* background-color: #f9f8ff; */
  position: relative;
  /* padding-bottom: 6rem; */
}
.Profile-main {
  width: 100%;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-title h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 1rem;
  color: #51496a;
}
.profile-title svg {
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  color: #51496a;
  border: 1px solid #928dab;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.profile-page {
  padding: 0 15px;
}

.profile-header {
  background: linear-gradient(0deg, #5de0e6 0%, #004aad 100%);
  /* background: linear-gradient(146deg, #1f1c2c, #928dab); */
  color: white;
  padding: 20px;
  border-radius: 40px;
  position: relative;
}

.profile-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.profile-img {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  /* border: 2px solid #928dab; */
  border-radius: 50px;
  padding: 2px;
  margin-bottom: 10px;
  object-fit: cover;
}

.profile-info h3 {
  margin: 0;
  /* font-size: 18px; */
}

.profile-info p {
  font-size: 14px;
  margin: 0;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  border-radius: 40px;
  padding: 1rem;
}

.profile-stats span {
  width: 0.5px;
  background: #928dab;
}

.profile-stats div {
  text-align: center;
}

.profile-stats h4 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
.profile-stats p {
  margin: 0;
}

.profile-tabs {
  margin-top: 2rem;
}
.profile-tabs p {
  width: 100%;
}

.profile-tabs button.active {
  background: linear-gradient(146deg, #1f1c2c, #928dab);
  color: white;
  font-weight: bold;
}

.menu-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 1rem;
  border-bottom: 1px solid #928dab;
  cursor: pointer;
}
.plan-detail,
.menu-item span {
  flex: 1 1;
}

.plans-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-bottom: 1px solid #928dab;
}

.plan img {
  width: 12%;
  background-color: #928dab;
  border-radius: 40px;
  padding: 10px;
  aspect-ratio: 2/2;
}

.plan h4 {
  margin: 0;
  font-size: 18px;
}

.plan-detail p {
  margin: 0;
  font-size: 14px;
}

.subscribe-btn {
  margin-top: 15px;
  padding: 12px;
  border: none;
  background: #51496a;
  color: white;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
}

.profile-modal {
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  background-color: #f8fbff;
  /* background-color: #f9f8ff; */
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  border-radius: 50px 50px 0 0;
  box-shadow: #51496aa1 0px 15px 30px 0px;
  z-index: 999999;
  transition: all 0.3s ease-in-out;
}
.profile-modal.active {
  bottom: 0%;
  height: 45%;
  transition: all 0.3s ease-in-out;
}
.profile-modal.active:before {
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  background-color: transparent;
  width: 60px;
  height: 60px;
  rotate: 45deg;
  border-radius: 20px;
}

.close-profile-modal {
  position: absolute;
  top: 5%;
  right: 5%;
}
.profile-modal-box ul {
  padding: 0;
}

.close-profile-modal {
  border: 0.5px solid black;
  border-radius: 50px;
  padding: 5px;
}
.profile-modal-box ul li {
  padding: 1rem 0;
  border-bottom: 1px solid #928dab;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .Profile-main {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 680px) {
  .Profile {
    width: 100%;
    height: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .Profile-main {
    width: 100%;
  }
}
