.profile-title.notification{
justify-content: flex-start;
}


.notification-section {
  margin-top: 20px;
}

.notification-section h4 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #666;
}

.notification-page{
    padding: 0 15px;
    height: 88vh;
    overflow: auto;
    padding-bottom: 2rem;
}

.notification-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 25px;
  padding: 12px;
  margin-bottom: 12px;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.notification-card img{
  margin-bottom: 0;
}

.notification-card.request {
 background: linear-gradient(270deg, #5de0e6 0%, #004aad 100%);
  color: #fff;
}

.profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin:0 12px 0 0;
  object-fit: cover;
}

.notification-info {
  flex: 1;
}

.notification-info p {
  font-size: 14px;
  margin: 0;
}

.notification-info .user {
  font-weight: 600;
}

.notification-info .date {
  font-size: 12px;
  color: black;
}

.time {
  font-size: 12px;
  color: #666;
}

.request-actions {
  display: flex;
  gap: 8px;
}

.request-actions button {
  border: none;
  padding: 0;
  background-color: transparent;
}
.request-actions button svg{
  padding: 6px;
  border-radius: 25px;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.request-actions .decline svg{
  background: transparent;
  color: white;
  border: 1px solid white;
}

.request-actions .accept svg{
  background: #004aad;
  color: #fff;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.dot.new {
  background: #2ecc71;
}

.dot.seen {
  background: #bbb;
}

.dot.request {
  background: #fff;
}