.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.modal-box {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 40px;
}

.modal-box p{
    color: black;
    margin: 0;
}

.modal-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    gap: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.modal-box .add {
    width: 100%;
    background: #016B61;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    border: none;
}

.modal-box .close {
    width: 100%;
    background: #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

.modal-item.purchase{
    color: red;
}