.chatDetails {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background: #f9f9f9; */
  position: relative;
}
.chatDetails .profile-title h2 {
  color: white;
}
.chatDetails .profile-title svg {
  color: white;
}

/* Header */
.chatDetails-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  color: #fff;
}

.chatDetails-user {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.chatDetails-user img {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50px;
  padding: 2px;
  object-fit: cover;
}

.chatDetails-user .status.online {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: #00bb00;
  height: 17px;
  width: 17px;
  border-radius: 50px;
  border: 3px solid #145faa;
}
.chatDetails-user h4 {
  margin: 0;
  font-size: 16px;
}

.chatDetails-user span {
  font-size: 12px;
}

.online {
  color: #00ff95;
}

.offline {
  color: #f1f1f1;
}

.back-btn,
.more-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Messages */
.chatDetails-messages {
  flex: 1;
  padding: 16px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  overflow: auto;
  padding-bottom: 5rem;
  /* background-color: #f8fff8; */
  background-color: #f8feff;
  border-radius: 50px 50px 0 0;
}

.chat-bubble {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 18px;
  font-size: 14px;
  position: relative;
}

.chat-bubble p {
  margin: 0;
  padding-right: 10px;
}
.chat-bubble.me {
  align-self: flex-end;
  background: #c0c0c05e;
  color: black;
  border-bottom-right-radius: 4px;
}

.chat-bubble.other {
  align-self: flex-start;
  /* background: linear-gradient(270deg, #5de0e6 0%, #004aad 100%); */
  background-color: #0f63b6;
  color: white;
  border-bottom-left-radius: 4px;
}

.chat-time {
  display: block;
  font-size: 10px;
  opacity: 0.6;
  margin-top: 4px;
  text-align: right;
}

/* Input */
.chatDetails-input {
  display: flex;
  align-items: center;
  padding: 0 15px 20px 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chatDetail-input-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 40px;
  background-color: white;
  width: 100%;
}
.chatDetail-input-box svg {
  width: 18px;
  height: 18px;
}
.chatDetails-input input {
  flex: 1;
  padding: 10px;
  /* border: 1px solid #ddd; */
  border: none;
  outline: none;
  border-radius: 40px;
}

.chatDetails-input button {
  margin-left: 8px;
  background: #004aad;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
}

.message-options-icon {
  position: absolute;
  top: 15%;
  right: 3%;
  width: 20px;
  height: 20px;
}

.modal-overlay.chat-option .modal-content {
  background-color: white;
  border: none;
  align-items: flex-end;
}

.modal-overlay.chat-option .modal-content .modal-message {
  background: #c0c0c05e;
  color: black;
  padding: 10px 14px;
  border-radius: 18px;
  border-bottom-right-radius: 4px;
}
.modal-buttons {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  flex-direction: column;
  background-color: #c0c0c05e;
  border-radius: 40px;
  width: 45%;
  padding: 1rem;
  border-top-right-radius: 4px;
}
.modal-overlay.chat-option .modal-content button {
  border: none;
  background-color: transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.modal-overlay.chat-option .modal-content button svg {
  width: 18px;
  height: 18px;
}

.chat-edit-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modal-overlay.chat-edit-modal .modal-message {
  margin-bottom: 4rem;
  background-color: #c0c0c05e;
  color: black;
  padding: 10px 14px;
  border-radius: 18px;
  border-bottom-right-radius: 4px;
}

.chatmessage-status {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
.chatmessage-status p{
  margin: 0;
  border-radius: 20px;
  background-color: #eeeeee;
  padding: 5px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.chatmessage-status p svg{
  width: 12px;
  height: 12px;
}
.chatmessage-status.success{
  color: green;
}
.chatmessage-status.fail{
  color: red;
}
