.Pnav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* background-color: #f8fbff; */
  background: linear-gradient(180deg,#5de0e6 0%, #004aad 100%);
  /* background-color: #f9f8ff; */
  display: none;
  border-radius: 50% 50% 0 0;
  /* box-shadow: #51496aa1 0px 15px 30px 0px; */
  z-index: 99999;
}
.Pnav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 0;
}
.Pnav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 20px 0;
}
.Pnav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #37353e;
  cursor: pointer;
  font-size: 12px;
  width: 50px;
}
.Pnav ul li a svg {
  font-size: 25px;
  /* color: #37353e; */
  color: white;
}

/*  */

.Pnav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.Pnav li {
  flex: 1;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  text-decoration: none;
  color: #333;
  position: relative;
  z-index: 1;
  font-weight: 500;
  transition: color 0.5s ease;
}

.nav-link:focus {
  color: white;
}
.nav-link.active svg {
  color: white;
  /* color: #004AAD; */
  /* color: #51496a; */
  filter: drop-shadow(0px 0px 4px white);
  /* filter: drop-shadow(0px 0px 4px #51496a); */
}
@media only screen and (max-width: 990px) {
  .Pnav {
    display: block;
  }
}
