.page-container {
  height: 100%;
  overflow-y: auto; 
}

/* Default (Desktop) */
html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow: visible;
}

/* Mobile only */
@media (max-width: 768px) {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }
}